
@using Microsoft.AspNetCore.Identity
@model Products

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class=" row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Products</h2>
            </div>
        </div>
    </div>
</div>

<div class="card-body">
    <form method="post">
        <input asp-for="ProductId" hidden />
        <div class="border p-3 mt-4">
            <div class="row pb-2">
            </div>
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="mb-3 row p-1">
                <label asp-for="ProductName" class="p-0"></label>
                <input asp-for="ProductName" class="form-control" aria-required="true" />

                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Description" class="p-0"></label>
                <input asp-for="Description" class="form-control" aria-required="true" />

                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Manufacturer" class="p-0"></label>
                <input asp-for="Manufacturer" class="form-control" aria-required="true" />

                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>

            <div class="mb-3 row p-1">
                <label asp-for="Price" class="p-0"></label>
                <input asp-for="Price" class="form-control" aria-required="true" />

                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Size" class="p-0"></label>
                <input asp-for="Size" class="form-control" aria-required="true" />

                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Instructions" class="p-0"></label>
                <input asp-for="Instructions" class="form-control" aria-required="true" />

                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Ingredients" class="p-0"></label>
                <input asp-for="Ingredients" class="form-control" aria-required="true" />

                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="ExpiryDate" class="p-0"></label>
                <input asp-for="ExpiryDate" class="form-control" type="date" aria-required="true" />

                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="StockQuantity" class="p-0"></label>
                <input asp-for="StockQuantity" class="form-control" aria-required="true" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="Usage" class="p-0"></label>
                <input asp-for="Usage" class="form-control" aria-required="true" />

                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label asp-for="IsPrescriptionRequired" class="p-0"></label>
                <select asp-for="IsPrescriptionRequired" class="form-control" aria-required="true">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="IsPrescriptionRequired" class="text-danger"></span>
            </div>

        <div class="row">

            <button type="submit" class="btn btn-primary">Update Products</button>
        </div>
    </form>
</div>
