@model IEnumerable<Products>
<style>
    .fixed-size-img {
        width: 300px;
        height: 300px;
        object-fit: cover; /* Ensures the image covers the specified dimensions while maintaining its aspect ratio */
    }
</style>
  <div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">

                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow border-top border-5 rounded">

                        <img src="@product.ImageUrl" class="card-img-top rounded fixed-size-img"/>
                        <div class="card-body pb-0">
                        <div class="pl-1">

                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.ProductName</p>
                            <p class="card-title text-warning text-center">by<b>@product.Manufacturer</b></p>
                        </div>
                            <div class="pl-1">

                                <p class=" text-dark opacity-75  text-center">SEK:<span>@product.Price</span></p>
                                
                            </div>

                            <div class="pl-1">

                                @if (product.IsPrescriptionRequired == false)
                                {
                                    <p class=" text-dark opacity-75  text-center">Priscription Required:<span>No</span></p>
                                }
                                else
                                {
                                    <p class=" text-dark opacity-75  text-center">Priscription Required:<span>Yes</span></p>
                                }


                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    }
</div>